<div class="edit-page" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="100%">
    <div *ngIf="isFormInitialized">
      <mat-toolbar>Edit Profile</mat-toolbar>
      <form
        fxLayoutAlign="stretch"
        fxLayout="column"
        class="edit-form"
        [formGroup]="editForm"
        (ngSubmit)="editProfile()"
      >
        <mat-form-field fxFlex="100%">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="username" formControlName="username" />
          <mat-error *ngIf="editForm.get('username').hasError('noSpaces')"
            >Invalid username</mat-error
          >
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>Bio</mat-label>
          <input matInput placeholder="bio" formControlName="bio" />
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>DOB</mat-label>
          <input
            [max]="todayDate"
            [min]="startDate"
            matInput
            [matDatepicker]="dobPicker"
            formControlName="DOB"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dobPicker"
          ></mat-datepicker-toggle>
          <mat-error
            *ngIf="
              editForm.get('DOB').invalid &&
              (editForm.get('DOB').dirty || editForm.get('DOB').touched)
            "
          >
            Invalid DOB format.
          </mat-error>
          <mat-datepicker #dobPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="phone number" formControlName="phone" />
          <mat-error *ngIf="editForm.get('phone').hasError('pattern')">
            Phone number should have 10 digits and contain only numbers
          </mat-error>
        </mat-form-field>

        <button class="save-button" mat-raised-button type="submit">
          Save
        </button>
      </form>
    </div>
    <app-spinner [show]="loading"></app-spinner>
  </mat-card>
</div>
