.register-form {
  padding: 20px;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../assets/background.jpg"); /* Adjust the path */
  background-size: cover;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.register-button {
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 13px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
