<div class="register-page" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Register Page</mat-toolbar>
    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <div fxLayout="row" fxLayoutGap="10px" fxFlex="100%">
        <mat-form-field fxFlex="50%">
          <mat-label>Name</mat-label>
          <input matInput placeholder="name" formControlName="name" />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="registerForm.get('name').hasError('required')"
            >Name is required</mat-error
          >
          <mat-error *ngIf="registerForm.get('name').hasError('maxlength')"
            >Name should not exceed 30 characters</mat-error
          >
        </mat-form-field>

        <mat-form-field fxFlex="50%">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="username" formControlName="username" />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="registerForm.get('username').hasError('required')"
            >User Name is required</mat-error
          >
          <mat-error *ngIf="registerForm.get('username').hasError('noSpaces')"
            >Invalid username</mat-error
          >
          <mat-error *ngIf="registerForm.get('username').hasError('maxlength')"
            >Username should not exceed 30 characters</mat-error
          >
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="registerForm.get('email').hasError('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="registerForm.get('email').hasError('pattern')"
          >Enter a valid email address</mat-error
        >
        <mat-error *ngIf="registerForm.get('email').hasError('maxlength')"
          >Email should not exceed 30 characters</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="phone number" formControlName="phone" />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="registerForm.get('phone').hasError('required')"
          >Phone number is required</mat-error
        >
        <mat-error *ngIf="registerForm.get('phone').hasError('pattern')"
          >Phone number should have 10 digits and contain only
          numbers</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="password"
          type="password"
          formControlName="password"
        />
        <mat-icon matSuffix>security</mat-icon>
        <mat-error *ngIf="registerForm.get('password').hasError('required')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="registerForm.get('password').hasError('minlength')"
          >Password should be at least 6 characters long</mat-error
        >
        <mat-error *ngIf="registerForm.get('password').hasError('maxlength')"
          >Password should not exceed 30 chars
        </mat-error>
      </mat-form-field>

      <button
        class="register-button"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>

    <!-- Add a button to navigate to the login page -->
    <div class="login-link">
      <a routerLink="/login"> Already have an account? Login </a>
    </div>
  </mat-card>
</div>
