/* Apply Twitter's theme color to the card */
.tweet-card {
  margin-top: 5px;
  cursor: pointer;
  padding: 8px;
  background-color: rgb(227, 229, 236);
  box-shadow: 0 2px 4px rgba(138, 136, 136, 0.1); /* Add a subtle shadow */
  transition: background-color 0.2s ease; /* Smooth hover effect */
}

.tweet-card:hover {
  background-color: #f5f8fa; /* Light blue background on hover */
}

/* Style the tweet header */
.tweet-header {
  margin-top: 1px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.profile-icon {
  font-size: 50px; /* Increase the icon size */
  margin-right: 2vh; /* Add some spacing between the icon and text */
  height: 10vh;
  width: 9vh;
  color: #657786;
  flex-shrink: 0; /* Prevent the profile picture from shrinking */
}

.tweet-details {
  margin-right: 5vh;
}

.username,
.datetime {
  margin-left: 50px;
  font-size: 14px;
  color: #657786;
  font-family: "Courier New", Courier, monospace;
}

.name {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  color: #14171a;
}

.tweet-content {
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
