.background-image {
  background-color: rgb(227, 229, 236);
  background-size: cover;
  background-position: center;
  height: 150px; /* Adjust the height as needed */
  position: relative;
  z-index: 1; /* Make it appear behind the profile picture */
}

/* Styles for the profile picture container */
.profile-picture-container {
  position: relative;
  z-index: 2; /* Make it appear above the background image */
}

/* Center the profile picture horizontally and adjust the size */
.profile-picture-container img {
  margin-left: 2%;
  width: 120px; /* Adjust the size as needed */
  height: 120px; /* Adjust the size as needed */
  border-radius: 50%; /* Ensure it's round */
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0;
  margin-top: 5px;
}

/* Styles for the username */
.username {
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(125, 122, 117);
}

/* Styles for the follow links */
.follow-links {
  margin-top: 5px;
}

.follow-links a {
  text-decoration: none;
  color: #1da1f2; /* Twitter blue color */
}

.follow-links a:hover {
  text-decoration: underline;
}
/* Center the "Edit" button within the profile picture */
.edit-button {
  position: absolute;
  top: 50%;
  left: 93%;
  transform: translate(-50%, -50%);
}

.profile-info {
  margin-top: 12%;
  margin-left: 3%;
}

.profile-container {
  height: 100%;
  overflow-y: scroll;
}

.joined-date {
  margin-top: 1%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.show-more {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  cursor: pointer;
  color: #0e7ee0;
  transition: color 0.2s ease; /* Add a smooth transition for the color change */
}

.show-more:hover {
  color: #0056b3; /* Change the color when the element is hovered over */
}

::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar in Chrome and Safari */
}
