<div fxLayoutAlign="center center" fxFlexFill class="login-page">
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="login-form"
    >
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          style="border-radius: 10px"
          matInput
          placeholder="email"
          formControlName="email"
        />
        <mat-icon matSuffix>email</mat-icon>
        <!-- Add email icon here -->
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
          Enter a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="password"
          type="password"
          formControlName="password"
        />
        <mat-icon matSuffix>security</mat-icon>
        <!-- Add key icon here -->
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <button class="login-button" type="submit">Login</button>
    </form>

    <!-- Style the message and button using Material UI classes -->
    <div class="register-link">
      <a routerLink="/register"> Don't have an account yet? Register</a>
    </div>
  </mat-card>
</div>
