/* Style the user list container */

.user-container {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
}
.user-card-continer {
  width: 100%;
  background-color: rgb(227, 229, 236);
}
.user-list {
  overflow-y: scroll;
  height: 260px;
}

/* Style the user list items */
.user-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  transition: background-color 0.3s;
}

/* .user-row:hover {
  background-color: #f9f9f9;
} */

/* Style the user details */
.user-details {
  flex: 1;
}

.profile-icon {
  font-size: 40px; /* Increase the icon size */
  margin-right: 15px; /* Add some spacing between the icon and text */
  height: 40px;
  width: 40px;
  color: #657786;
}

.user-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.user-username {
  font-size: 14px;
  color: #888;
}

/* Style the sticky title */
.sticky-title {
  margin: 0;
  padding: 16px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}
.follow {
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar in Chrome and Safari */
}
